Repository GodotVR/godot_openxr, pull requests merged in 2021-11, with the labels that each got.

#116 Fix broken link to the hand gdns file
  demo/addons/godot-openxr/scenes/left_hand_nodes.tscn
  demo/addons/godot-openxr/scenes/right_hand_nodes.tscn
Labels: bug

#119 Update the Android gdap configuration file.
  android/godotopenxr.gdap
Labels: android

#120 Move default env into world environment
  demo/Main.tscn
  demo/project.godot
Labels: bug

#124 Fix hand tracking on the Oculus Quest
  .gitignore
  android/src/main/AndroidManifest.xml
  android_samples/demo/src/main/AndroidManifest.xml
  src/openxr/extensions/xr_ext_hand_tracking_extension_wrapper.cpp
  src/openxr/extensions/xr_ext_hand_tracking_extension_wrapper.h
Labels: bug, Oculus, android

#125 Add support for Oculus passthrough OpenXR extensions
  android/src/main/AndroidManifest.xml
  android/src/main/cpp/jni/openxr_config_jni.cpp
  android/src/main/java/org/godotengine/plugin/vr/openxr/api/OpenXRConfig.kt
  demo/addons/godot-openxr/CHANGES.md
  demo/addons/godot-openxr/scenes/first_person_controller_vr.gd
  src/ARVRInterface.cpp
  src/gdclasses/OpenXRConfig.cpp
  src/gdclasses/OpenXRConfig.h
  src/openxr/extensions/xr_fb_passthrough_extension_wrapper.cpp
  src/openxr/extensions/xr_fb_passthrough_extension_wrapper.h
  src/openxr/include/util.h
Labels: enhancement, Oculus, android

#127 Update Android versions to match
  android/build.gradle
  android/src/main/AndroidManifest.xml
Labels: android

#131 Updating initialisation process
  demo/Main.gd
  demo/Main.tscn
  demo/addons/godot-openxr/CHANGES.md
  demo/addons/godot-openxr/scenes/first_person_controller_vr.gd
Labels: enhancement
